[submodule "src/googletest"]
	path = src/googletest
	url = https://github.com/google/googletest
[submodule "src/capd_utils"]
	path = src/capd_utils
	url = https://github.com/AleksanderPasiut/capd_utils
